@font-face {
    font-family: 'M+ 1m';
    src: url('font/mplus-1m-regular.eot');
    src: url('font/mplus-1m-regular.eot?#iefix') format('embedded-opentype'),
        url('font/mplus-1m-regular.woff2') format('woff2'),
        url('font/mplus-1m-regular.woff') format('woff'),
        url('font/mplus-1m-regular.ttf') format('truetype'),
        url('font/mplus-1m-regular.svg#mplus-1m-regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'M+ 1m';
    src: url('font/mplus-1m-bold.eot');
    src: url('font/mplus-1m-bold.eot?#iefix') format('embedded-opentype'),
        url('font/mplus-1m-bold.woff2') format('woff2'),
        url('font/mplus-1m-bold.woff') format('woff'),
        url('font/mplus-1m-bold.ttf') format('truetype'),
        url('font/mplus-1m-bold.svg#mplus-1m-bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "m+ 1m", monospace;
}

body {
  background: #222;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333;
  padding: 16px 16px;
}

.logo {
  font-weight: bold;
  font-size: 24px;
  width: 512px; /* например */
  white-space: nowrap; /* чтобы текст не переносился */
  overflow: hidden;
  text-overflow: ellipsis;
}

.text {
	padding-top: 10px;
  position: absolute;
  top: 0;
  font-size: 24px;
  opacity: 0;
}

.text:nth-child(1) {
  animation: show1 25s infinite;
}
.text:nth-child(2) {
  animation: show2 25s infinite;
}
.text:nth-child(3) {
  animation: show3 25s infinite;
}
.text:nth-child(4) {
  animation: show4 25s infinite;
}
.text:nth-child(5) {
  animation: show5 25s infinite;
}

@keyframes show1 {
  0%, 1% { opacity: 0; }
  1%, 20% { opacity: 1; }
  21%, 100% { opacity: 0; }
}
@keyframes show2 {
  0%, 19% { opacity: 0; }
  20%, 39% { opacity: 1; }
  40%, 100% { opacity: 0; }
}
@keyframes show3 {
  0%, 39% { opacity: 0; }
  40%, 59% { opacity: 1; }
  60%, 100% { opacity: 0; }
}
@keyframes show4 {
  0%, 59% { opacity: 0; }
  60%, 79% { opacity: 1; }
  80%, 100% { opacity: 0; }
}
@keyframes show5 {
  0%, 79% { opacity: 0; }
  80%, 99% { opacity: 1; }
  100% { opacity: 0; }
}

.nav-links {
  display: flex;
  gap: 16px;
  transition: max-height 0.3s ease;
  overflow: hidden;
  max-height: 100px;
  position: relative; /* для десктопа */
  font-weight: bold;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.divider.yellow {
  height: 16px;
  background: gold;
}

.divider.white {
  height: 16px;
  background: white;
}

.main-content {
  display: flex;
  padding: 16px;
  gap: 16px;
}

.left-column {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.item {
  display: flex;
  background: #444;
  padding: 16px;
}

.picture {
  min-width: 64px; /* квадрат! */
  min-height: 64px;
  max-width: 128px;
  max-height: 128px;
  margin-right: 10px;
  margin-bottom: 0;
  flex-shrink: 0; /* чтобы не сжималась картинка */
  background: gold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.picture img {
  max-width: 128px;
  max-height: 128px;
}

.description {
  flex: 1;
}

.right-column {
  width: 50%;
  background: #333;
  padding: 10px;
  height: 100%;
  overflow-y: auto;
}

.burger {
  display: none;
  font-size: 28px;
  cursor: pointer;
  color: white;
}

/* Мобильная версия */
@media (max-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links {
    flex-direction: column;
    background: #333;
    width: 100%;
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    position: absolute;
    top: 60px; /* под шапкой */
    left: 0;
    z-index: 100;
  }

  .nav-links a {
    margin: 10px 0;
    padding: 10px 20px;
    display: block;
  }

  .nav-links.active {
    padding: 10px 0;
    max-height: 500px;
  }

  .burger {
    display: block;
  }

  .main-content {
    flex-direction: column-reverse;
  }

  .left-column, .right-column {
    width: 100%;
  }

  .item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .picture {
    margin-right: 0;
    margin-bottom: 10px;
    width: 100%;
  }

  .right-column {
    height: auto;
  }
}
